@page "/Companies/view/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3>View Companies</h3>
<FormComponent Company="Company" Disabled="true" />

@code {

    [Parameter] public int id { get; set; }

    Company Company = new Company();

    protected async override Task OnParametersSetAsync()
    {
        Company = await
        _client.GetFromJsonAsync<Company>($"{Endpoints.CompaniesEndpoint}/{id}");
    }
}
